<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${HARNESS_LOG_PATH}/main.log</file>
        <append>true</append>
        <encoder>
            <pattern>%green(%d{HH:mm:ss.SSS}) %highlight(%-5level) %green(%-17logger{0}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.actionml.router" level="INFO"/>
    <logger name="com.mongodb" level="INFO"/>
    <logger name="org.mongodb" level="INFO"/>
    <logger name="com.typesafe" level="INFO"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
