<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %-17logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.actionml" level="DEBUG"/>
    <logger name="com.mongodb" level="INFO"/>
    <logger name="org.mongodb" level="INFO"/>
    <logger name="com.typesafe" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
