version: 2
jobs:
  build:
    docker:
    - image: actionml/harness-sdk:0.1
      entrypoint: /entrypoint.sh
    environment:
    - SDK_VERBOSE: true
    - JVM_OPTS: -Xms512m -Xmx3584m -Xss2m
    steps:
    - checkout
    - restore_cache:
        keys:
        - rest-api-{{ checksum "rest-server/build.sbt" }}
    - run:
        name: Build environment details
        command: /details.sh
    - run:
        name: Build rest-server dist
        command: make dist
    - save_cache:
        key: rest-api-{{ checksum "rest-server/build.sbt" }}
        paths:
        - /root/.sbt
        - /root/.ivy2
    - persist_to_workspace:
        root: /root/project/dist
        paths:
        - ./
  publish:
    docker:
    - image: docker:stable
    steps:
    - checkout
    - setup_remote_docker
    - attach_workspace:
        at: /root/project/dist
    - run:
        name: Docker login
        command: |
          echo -n ${DOCKER_PASSWORD} | docker login -u ${DOCKER_USERNAME} --password-stdin
    - run:
        name: Build rest-server docker image
        command: |
          SHORT_GIT_HASH=$(echo $CIRCLE_SHA1 | cut -c -7)
          DATE_BUILD=$(date +'%d-%m-%Y')

          case "${CIRCLE_BRANCH}" in
            "master")
              docker image build -f docker/Dockerfile --build-arg version=ci --build-arg GIT_HASH=$SHORT_GIT_HASH --build-arg DATE_BUILD=$DATE_BUILD -t actionml/harness:latest ./
            ;;
            "develop")
              docker image build -f docker/Dockerfile --build-arg version=ci --build-arg GIT_HASH=$SHORT_GIT_HASH --build-arg DATE_BUILD=$DATE_BUILD -t actionml/harness:${CIRCLE_BRANCH} ./
            ;;
            "devops")
              docker image build -f docker/Dockerfile --build-arg version=ci --build-arg GIT_HASH=$SHORT_GIT_HASH --build-arg DATE_BUILD=$DATE_BUILD -t actionml/harness:${CIRCLE_BRANCH} ./
            ;;
            "ci")
              docker image build -f docker/Dockerfile --build-arg version=ci --build-arg GIT_HASH=$SHORT_GIT_HASH --build-arg DATE_BUILD=$DATE_BUILD -t actionml/harness:${CIRCLE_BRANCH} ./
            ;;
            *)
            ;;
          esac
    - run:
        name: Publish docker image
        command: |
          SHORT_GIT_HASH=$(echo $CIRCLE_SHA1 | cut -c -7)
          DATE_BUILD=$(date +'%d-%m-%Y')
          
          case "${CIRCLE_BRANCH}" in
            "master")
              docker image push actionml/harness:latest
            ;;
            "develop")
              docker image push actionml/harness:${CIRCLE_BRANCH}
            ;;
            "devops")
              docker image push actionml/harness:${CIRCLE_BRANCH}
              
              docker tag actionml/harness:${CIRCLE_BRANCH} actionml/harness:${CIRCLE_BRANCH}-$SHORT_GIT_HASH
              docker image push actionml/harness:${CIRCLE_BRANCH}-$SHORT_GIT_HASH
              
              docker tag actionml/harness:${CIRCLE_BRANCH} actionml/harness:${CIRCLE_BRANCH}-$DATE_BUILD
              docker image push actionml/harness:${CIRCLE_BRANCH}-$DATE_BUILD
            ;;
            "ci")
              docker image push actionml/harness:${CIRCLE_BRANCH}
            ;;
            *)
            ;;
          esac
  test:
    docker:
    - image: alpine
    steps:
    - run: echo "unit or other tests"
workflows:
  version: 2
  default:
    jobs:
    - build
    - test
    - publish:
        requires:
        - build
        - test
