version: 2
jobs:
  build:
    docker:
    - image: actionml/harness-sdk:0.1
      entrypoint: /entrypoint.sh
    environment:
    - SDK_VERBOSE: true
    - JVM_OPTS: -Xms512m -Xmx3584m -Xss2m
    steps:
    - checkout
    - restore_cache:
        keys:
        - rest-api-{{ checksum "rest-server/build.sbt" }}
    - run:
        name: Build environment details
        command: /details.sh
  publish:
    docker:
    - image: docker:stable
    steps:
    - checkout
    - setup_remote_docker
    - attach_workspace:
        at: /root/project/dist
    - run:
        name: Docker login
        command: |
          echo -n ${DOCKER_PASSWORD} | docker login -u ${DOCKER_USERNAME} --password-stdin
    - run:
        name: Build rest-server docker image
        command: |
          case "${CIRCLE_BRANCH}" in
            "master")
              docker image build -f docker/Dockerfile --build-arg version=ci -t actionml/harness:latest ./
            ;;
            "develop")
              docker image build -f docker/Dockerfile --build-arg version=ci -t actionml/harness:${CIRCLE_BRANCH} ./
            ;;
            "ci")
              docker image build -f docker/Dockerfile --build-arg version=ci -t actionml/harness:${CIRCLE_BRANCH} ./
            ;;
            *)
            ;;
          esac
    - run:
        name: Publish docker image
        command: |
          case "${CIRCLE_BRANCH}" in
            "master")
              docker image push actionml/harness:latest
            ;;
            "develop")
              docker image push actionml/harness:${CIRCLE_BRANCH}
            ;;
            "ci")
              docker image push actionml/harness:${CIRCLE_BRANCH}
            ;;
            *)
            ;;
          esac
  test:
    docker:
    - image: alpine
    steps:
    - run: echo "unit or other tests"
workflows:
  version: 2
  default:
    jobs:
    - build
    - test
    - publish:
        requires:
        - build
        - test
